.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80vh;
}

.card{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 50px;
    margin-bottom: 10%;
}

.text{
    font-size: 18px;
}